<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/headerFooter.css">
    <link rel="stylesheet" href="./css/dashboard.css">
    <title>Hello {{user.name}}</title>
</head>

<body style="background-color: rgb(240,240,245);">
    <nav class="navbar navbar-expand-sm navbar-light">
        <a class="navbar-brand" href="/">Medico<span>Universe</span></a>

        {{#if user}}
        <div class="navbar-loggedin">
            <img src="{{user.image}}" onerror="this.src = './image/default_profile_pic.png'" width="36px" height="36px">
            <a href="/dashboard" class="ml-2">{{user.name}}</a>
        </div>
        {{else}}
        <button class="navbar-toggler float-right p-1" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse nav-resp" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mission">Mission</a>
                </li>
            </ul>
            <a class="nav-link login-signup " href="/login">Login/SignUp</a>
        </div>
        {{/if}}
    </nav>
    <hr>
    <section class="container" style="background-color: white;">


        <div class="row w-100 mt-5">
            <div class="col-3">
                <h4 class="mt-3">Your Drive</h4>
            </div>
            <div class="col-8">
                <div class="ml-2 mt-2" style="height: 56px; font-size: medium;">
                    <div style="height: 20px; font-weight: 600;">{{user.name}}</div>
                    <div style="height: 20px; font-size: small;">{{user.phone}},{{user.email}}</div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-3 col-sm-12 border-right side-menu">
                <div class="list-group list-group-flush my-2" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action " id="list-appointments-list" data-toggle="list"
                        href="#list-appointments" role="tab" aria-controls="appointments">My Appointments</a>
                    <a class="list-group-item list-group-item-action" id="list-orders-list" data-toggle="list"
                        href="#list-orders" role="tab" aria-controls="orders">My Medicine Orders</a>
                    <a class="list-group-item list-group-item-action active" id="list-profile-list" data-toggle="list"
                        href="#list-profile" role="tab" aria-controls="profile">View / Update Profile</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
                        href="#list-settings" role="tab" aria-controls="settings">Feedback</a>
                </div>
            </div>
            <div class="col-lg-8 col-sm-12">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade  " id="list-appointments" role="tabpanel"
                        aria-labelledby="list-appointments-list">

                    </div>
                    <div class="tab-pane fade" id="list-orders" role="tabpanel" aria-labelledby="list-orders-list">

                    </div>
                    <div class="tab-pane fade show active" id="list-profile" role="tabpanel"
                        aria-labelledby="list-profile-list">
                        <form autocomplete="off">
                            <div class="row profile-header mt-3">
                                <span class="px-3">Profile</span>
                                <button type="submit" class="ml-auto">Save changes</button>
                            </div>
                            <div class="d-inline-block text-center border ml-3" >
                                <img src="{{user.image}}" onerror="this.src = './image/default_profile_pic.png'"
                                    width="120px" height="120px" class="d-block" id="dp">
                                <input type="file" id="displaypicture" style="display: none;" />
                                <label for="displaypicture" id="changeDP" onclick="he()" >Change</label>
                            </div>
                            <div class="d-inline-block ml-3 mt-3" style="vertical-align: top;">
                                <div class="form-group d-inline-block">
                                    <label for="name" class="d-block">Name:</label>
                                    <input type="text" value="{{user.name}}" id="name">
                                </div>
                                
                            </div>
                            <div class="my-3">
                                <div class="form-group d-inline-block mx-3">
                                    <label for="email" class="d-block">Email:</label>
                                    <input type="text" value="{{user.email}}" id="email">
                                </div>
                                <div class="form-group d-inline-block mx-3">
                                    <label for="phone" class="d-block">Phone:</label>
                                    <input type="text" value="{{user.phone}}" id="phone">
                                </div>
                            </div>
                            <div>
                                <div class="form-group d-inline-block mx-3">
                                    <label for="gender" class="d-block">Gender:</label>
                                    <select id="gender">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>

                                </div>
                                <div class="form-group d-inline-block mx-3">
                                    <label for="bloodgroup" class="d-block">Blood group:</label>
                                    <select id="bloodgroup">
                                        <option value="O+">O+</option>
                                        <option value="O-">O-</option>
                                        <option value="A+">A+</option>
                                        <option value="A-">A-</option>
                                        <option value="B+">B+</option>
                                        <option value="B-">B-</option>
                                        <option value="AB+">AB+</option>
                                        <option value="AB-">AB-</option>
                                    </select>
                                </div>
                                <div class="form-group d-inline-block mx-3">
                                    <label for="dob" class="d-block">Date of Birth:</label>
                                    <input type="date" id="dob">
                                </div>
                            </div>
                            <div>
                                <label class="mx-3">Address</label>
                                <div>
                                    <div class="form-group d-inline-block mx-3">
                                        <label for="name" class="d-block">House No./ Street Name/ Area</label>
                                        <input type="text" value="{{user.name}}" id="address">
                                    </div>
                                    <div class="form-group d-inline-block mx-3">
                                        <label for="name" class="d-block">Colony / Street / Locality</label>
                                        <input type="text" value="{{user.name}}" id="name">
                                    </div>
                                    <div class="form-group d-inline-block mx-3">
                                        <label for="name" class="d-block">City</label>
                                        <input type="text" value="{{user.name}}" id="name">
                                    </div>
                                </div>
                                <div>
                                    <div class="form-group d-inline-block mx-3">
                                        <label for="name" class="d-block">State</label>
                                        <input type="text" value="{{user.name}}" id="name">
                                    </div>
                                    <div class="form-group d-inline-block mx-3">
                                        <label for="name" class="d-block">Country</label>
                                        <input type="text" value="{{user.name}}" id="name">
                                    </div>
                                    <div class="form-group d-inline-block mx-3">
                                        <label for="name" class="d-block">Pincode</label>
                                        <input type="text" value="{{user.name}}" id="name">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">

                    </div>
                </div>
            </div>
        </div>

        </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="./js/dashboard.js"></script>
</body>

</html>