<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/products.css">
</head>

<body>
    <div class="container-flex">


        <nav class="navbar navbar-expand-sm navbar-light">
            <a class="navbar-brand" href="/">Medico<span>Universe</span></a>

            {{#if user}}
            <div class="navbar-loggedin">
                <img src="{{user.image}}" onerror="this.src = './image/default_profile_pic.png'" width="36px"
                    height="36px">
                <a href="/dashboard" class="ml-2">{{user.name}}</a>
            </div>
            {{else}}
            <button class="navbar-toggler float-right p-1" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav-resp" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mission">Mission</a>
                    </li>
                </ul>
                <a class="nav-link login-signup " href="/user/login">Login/SignUp</a>
            </div>
            {{/if}}
        </nav>
        <div class="container mt-2 ">
            <div class="row">
                <div class="col">
                    <form class="form-inline">
                        <i class="fas fa-search mr-2" aria-hidden="true"></i>
                        <input class=" form-control" type="text"
                            placeholder="Search for medicines, health products and more" aria-label="Search">
                    </form>
                </div>
                <div class="col">
                    <a href="/shoppingCart" class="btn btn-default float-right"><span><i
                                class="fas fa-shopping-cart"></i></span>
                        VIEW CART <span class="badge">{{session.cart.totalQty}}</span></a>
                </div>

            </div>
        </div>
        <div class="m-navbar-list card mt-3" style="background-color: honeydew;">
            <div class="container">
                <div class="row">
                    <div class="col-2 ">
                        <div class="dropdown">
                            <button class="dropbtn" style="background-color: honeydew;">Baby Care <span><i
                                        class="fas fa-angle-down"></i></span></button>
                            <div class="dropdown-content" style="background-color: honeydew;">
                                <a href="#">Baby Bath</a>
                                <a href="#">Diapers and wipes</a>

                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="dropdown">
                            <button class="dropbtn" style="background-color: honeydew;">Personal Care <span><i
                                        class="fas fa-angle-down"></i></span></button>
                            <div class="dropdown-content" style="background-color: honeydew;">
                                <a href="#">Hair care</a>
                                <a href="#">Lip care</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="dropdown">
                            <button class="dropbtn" style="background-color: honeydew;">Skin Care <span><i
                                        class="fas fa-angle-down"></i></span></button>
                            <div class="dropdown-content" style="background-color: honeydew;">
                                <a href="#">Body and Bath</a>
                                <a href="#">Face wash and cleansers</a>
                                <a href="#">Skin care Suppliments</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="dropdown">
                            <button class="dropbtn" style="background-color: honeydew;">Ayurvedic <span><i
                                        class="fas fa-angle-down"></i></span></button>
                            <div class="dropdown-content" style="background-color: honeydew;">
                                <a href="#">Dabur</a>
                                <a href="#">Patangali</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="dropdown">
                            <button class="dropbtn" style="background-color: honeydew;">Fitness <span><i
                                        class="fas fa-angle-down"></i></span></button>
                            <div class="dropdown-content" style="background-color: honeydew;">
                                <a href="#">Protien and Suppliments</a>
                                <a href="#">Mass Gainers</a>
                                <a href="#">Link 3</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="dropdown">
                            <button class="dropbtn" style="background-color: honeydew;">Devices <span><i
                                        class="fas fa-angle-down"></i></span></button>
                            <div class="dropdown-content" style="background-color: honeydew;">
                                <a href="#">Health Care</a>
                                <a href="#">Exercise</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container" id="babybath">
            <div class="row">
                home
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="sidenav">

                        <button class="dropdown-btn"><span><i class="fa fa-angle-right"></i></span>Baby care

                        </button>
                        <div class="dropdown-container ml-2">
                            <a href="/products/baby_bath">Baby Bath</a>
                            <a href="#">Diapers and wipes</a>

                        </div>

                    </div>
                    <div class="sidenav">

                        <button class="dropdown-btn"><span><i class="fa fa-angle-right"></i></span>Personal Care

                        </button>
                        <div class="dropdown-container">

                            <a href="#">Hair care</a>
                            <a href="#">Lip care</a>
                        </div>

                    </div>
                    <div class="sidenav">

                        <button class="dropdown-btn"><span><i class="fa fa-angle-right"></i></span>Skin care

                        </button>
                        <div class="dropdown-container">
                            <a href="#">Body and Bath</a>
                            <a href="#">Face wash and cleansers</a>
                            <a href="#">Skin care Suppliments</a>
                        </div>

                    </div>
                    <div class="sidenav">

                        <button class="dropdown-btn"><span><i class="fa fa-angle-right"></i></span>Ayurvedic

                        </button>
                        <div class="dropdown-container">
                            <a href="#">Dabur</a>
                            <a href="#">Patangali</a>

                        </div>

                    </div>
                    <div class="sidenav">
                        <button class="dropdown-btn"><span><i class="fa fa-angle-right"></i></span>Fitness

                        </button>
                        <div class="dropdown-container">
                            <a href="#">Protien and Suppliments</a>
                            <a href="#">Mass Gainers</a>
                            <a href="#">Link 3</a>
                        </div>
                    </div>
                    <div class="sidenav">

                        <button class="dropdown-btn"><span><i class="fa fa-angle-right"></i></span>Devices

                        </button>
                        <div class="dropdown-container">
                            <a href="#">Health Care</a>
                            <a href="#">Exercise</a>

                        </div>

                    </div>
                </div>
                <div class="col-9">

                    <div class="row">
                        {{#each baby }}
                        <div class="col-4">
                            <!-- Card -->
                            <div class="card mb-3">

                                <!-- Card image -->
                                <div class="view overlay">
                                    <img class="card-img-top" src="{{this.imgPath}}" alt="{{this.productName}}"
                                        style="width: auto; height:auto">
                                    <a href="#!">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                                <hr>
                                <!-- Card content -->
                                <div class="card-body">

                                    <!-- Title -->
                                    <h4 class="card-title m-sm-2" style="font-size: large;">{{this.productName}} </h4>
                                    <!-- Text -->
                                    <div class="row">
                                        <div class="col">
                                            <span>₹{{this.productPrice}}</span>
                                        </div>
                                        <div class="col">
                                            <a href="/addToCart/{{this._id}}" class="btn btn-primary btn-sm"
                                                style="margin-left: 25%;">Add</a>

                                        </div>
                                    </div>

                                    <!-- Button -->

                                </div>

                            </div>
                            <!-- Card -->
                        </div>


                        {{/each}}
                    </div>
                </div>

            </div>
        </div>

        <footer class="mt-4">
            <div style="height: 20px;"></div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 ml-5">
                    <h4>Contact Us</h4>
                    <p>BHIVE Workspace, L-148, 5th Main Rd,
                        <br> Sector 6, HSR Layout,<br> Bengaluru, Karnataka 560102</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 ml-5">
                    <h5>For patients</h5>
                    <ul>
                        <li><a href="#">Search for Doctors</a></li>
                        <li><a href="#">Search for Hospitals</a></li>
                        <li><a href="#">Order Medicine</a></li>
                    </ul>
                </div>
            </div>
            <div style="height: 20px;"></div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
    <script src="./js/products.js"></script>
</body>

</html>